
@font-face {
  font-family: 'RistrettoPro-Regular';
  src: url('RistrettoPro-Regular.eot?#iefix') format('embedded-opentype'),  url('RistrettoPro-Regular.otf')  format('opentype'),
	     url('RistrettoPro-Regular.woff') format('woff'), url('RistrettoPro-Regular.ttf')  format('truetype'), url('RistrettoPro-Regular.svg#RistrettoPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
