
.slick-prev,
.slick-next{
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -21px;
  display: block;
  width: 20px;
  height: 42px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
}
.slick-prev{
  left: -40px;
}
.slick-next{
  right: -40px;
}
.slider .slick-prev, .slider .slick-next{
  background: url('../img/sprites.png') no-repeat 0 0;
	width: 17px;
	height: 35px;
  
  -webkit-transition: all .3s linear;
     -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
       -o-transition: all .3s linear;
          transition: all .3s linear;
}
.slider .slick-prev{
  transform: rotate(-180deg);
}
.slider .slick-prev:hover, .slider .slick-next:hover{
  opacity: .7;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -50px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slider .slick-dots{
	bottom: -50px;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 24px;
    height: 24px;
    margin: 0 3px;
    padding: 0;
    border: 3px solid #c4c4c4;
    border-radius: 50%; 

    cursor: pointer;
}
.slick-dots li button
{
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 0;
    line-height: 0;

    display: block;

    width: 12px;
    height: 12px;
    border: none;
    cursor: pointer;

    color: transparent;
    border-radius: 50%; 
    outline: none;
    background: transparent;
}
.slick-dots .slick-active button{
    background: #15567e;
}
.slick-dots .slick-active{
  border-color: #15567e;
}